#mainDiv {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
h1{text-align: center;}
.clickBtn{
    background-color: white;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 50%;
    background-image: url("src/assets/imgs/this.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: box-shadow .4s;
}
.clickBtn:hover{
    box-shadow: 3px 2px 5px 100px rgba(0,0,0,0.17) inset;
    cursor: url("src/assets/cursor/cursor.cur"), pointer;
    transition: box-shadow .4s;
}
.clickBtn:active{transform: scale(0.98);}
.infoContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-left: 1rem;
}
.green{color:darkgreen;font-weight: bold;}
.red{color:darkred;font-weight: bold;}
.upgradesContainer{margin-bottom: 5rem;}

.modalEvent{
    position: absolute;
    top: 50%;
    background-color: lightgray;
    padding: 1rem;
    border-radius: 7px;
}
.modalHeader{
    display: flex;
    justify-content: space-between;
}
.closeBtn{background-color: aqua;}
.modalContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


@media screen and (min-width:480px) {
    .upgradesContainer{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #mainDiv{justify-content: center;}
    .infoContainer{width: 15%;}
}

