<h1>Commencer à developper !</h1>
<div id="mainDiv">
    <button (click)="clickMoney()" class="clickBtn" *ngIf="!isEventActive"></button>
    <div class="infoContainer">
        <div>
            <span class="green">{{ money.toFixed(3) }}</span>
            <span>€</span>
        </div>
        <div>
            <span class="green"> {{ gainPerSec.toFixed(3) }}</span>
            <span>€ par seconde</span>
        </div>
    </div>
</div>

<div class="upgradesContainer">
    <app-upgrades 
    *ngFor="let upgrade of upgradesArray" [upgrades]="upgrade"
    [userMoney]="money" 
    (cost)="receive($event)"></app-upgrades>
</div>


<div *ngIf="isEventActive && eventSelected">
    <div class="modalEvent">
        <div class="modalHeader">
            <h1>Évènement aléatoire !</h1>
        </div>
        <h2>{{ eventSelected.nom }}</h2>
        <div class="modalContainer">
            <p>{{ eventSelected.desc }}</p>
            <p *ngIf="eventSelected.perte" class="red"> Coût des pertes : {{ (money * eventSelected.perte).toFixed(3) }} €</p>
            <p *ngIf="eventSelected.gain" class="green"> Vous recevez : {{ eventSelected.gain.toFixed(3) }} €</p>
            <p *ngIf="eventSelected.perteLevel && level != 0" class="red"> Vous perdez : {{ eventSelected.perteLevel }} level.</p>
            <p *ngIf="eventSelected.gainSec" class="red"> Vous perdez : {{ (tmpGain * eventSelected.gainSec).toFixed(3) }} / s.</p>
        </div>
        <button class="closeBtn" (click)="closeModal()">Okè</button>
    </div>
</div>